@charset "UTF-8";
@import "../../style/common";
// CELL VARIABLES
// ------------------------------------------->
$cellHeight: torem(88px);
$cellGapV: torem(20px);
$cellGapH: $gapSides;
$cellFontSize: $text-16;
$cellLineHeight: ($cellHeight - $cellGapV * 2) / torem($text-16 * 2);
$cellActiveBg: $bgActive;
$cellElGap: torem(20px);
// CELL COMPONENT
// ============================================>
.ui-cells {
  position: relative;
  line-height: 0;
  background-color: #fff;
  @extend %borderVertical;
  &::after{
    z-index: 1;
  }
  &+& {
    margin-top: $gap-20;
  }
  &__title {
    display: flex;
    font-size: $text-14;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    &_fix {
      position: -webkit-sticky;
      position: fixed;
      background-color: $bgBody;
      z-index: $lv2;
      @extend %borderBottom;
    }
    >.content{
      flex: 1;
      padding: torem(28px) $gapSides torem(12px) $gapSides;
    }
    >.link{
      padding: torem(28px) $gapSides torem(12px) $gapSides;
      font-weight: 500;
      text-align: right;
      color: $link;
      &::after {
        position: relative;
        top: -1px;
        content: '';
        margin-left: $gap-5;
        @include setArrow();
        border-color: $link;
      }
    }
  }
}

.ui-cell {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: $cellHeight;
  padding: $cellGapV $cellGapH;
  font-size: $cellFontSize;
  line-height: $cellLineHeight;
  &:not(:first-child) {
    @extend %borderTop;
    &:after {
      left: $gapSides;
    }
  }
  &_swipe{
     padding: 0;
     >.ui-cell__bd{
       position: relative;
       background-color: $white;
       z-index: 1;
     }
     >.ui-cell__ft{
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       display: flex;
       align-items: center;
       margin-left: 0;
     }
     &__btn{
       display: block;
       min-height: $cellHeight;
       line-height: $cellHeight;
       padding: 0 $gapSides;
       color: $white;
       background-color: $grayLighter;
     }

  }
  &_dropdown{
    padding: 0;
    >.ui-cell__bd{
      >.ui-cell:first-child{
        &:before {
          content: '';
          order: 5;
          margin-left: torem(20px);
          margin-right: torem(10px);
          @include setArrow('bottom');
          transition: all .2s ease;
        }
        &:active {
          background-color: $cellActiveBg;
        }
      }
    }
    &.open{
      >.ui-cell__bd{
        >.ui-cell:first-child{
          &:before {
            transform: rotate(-135deg);
          }
        }
      }
    }
    &__content{
      transition: all .3s ease-out;
      >.ui-cell{
        @extend %borderTop;
      }
    }
  }
  &_access {
    padding-right: torem(48px);
    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 4px);
      right: $gapSides;
      @include setArrow();
    }
    &:active {
      background-color: $cellActiveBg;
    }
  }
  &_switch {
    padding: calc(#{$cellGapV} - 4px) $cellGapH;
    >.ui-cell__ft{
      line-height: 0;
    }
  }
  &_select {
    padding: 0;
    &:before {
      content: '';
      position: absolute;
      top: calc(50% - #{torem(7px)});
      right: $gapSides;
      margin-left: torem(10px);
      @include setArrow();
    }
    >.ui-cell__hd {
      padding-left: $gapSides;
      margin-right: -($gapSides - $cellElGap);
    }
  }
  &__hd {
    margin-right: $cellElGap;
    >.icon{
      vertical-align: middle;
      line-height: 1;
    }
  }
  &__bd {
    flex: 1;
    width: 50%;
  }
  &__ft {
    margin-left: $cellElGap;
    color: $grayLight;
    text-align: right;
  }
  &__desc {
    width: 100%;
    margin-top: $gap-10;
  }
  &__icon{
    margin-right: $cellElGap;
    color: $primary;
    $iconLg: torem(108px);
    $iconMd: torem(88px);
    $iconSm: torem(68px);
    $iconXs: torem(48px);
    >.icon{
      font-size: $iconMd;
      line-height: $iconMd;
      color: inherit;
      vertical-align: middle;
      &.lg{
        font-size: $iconLg;
        line-height: $iconLg;
      }
      &.sm{
        font-size: $iconSm;
        line-height: $iconSm;
      }
      &.xs{
        font-size: $iconXs;
        line-height: $iconXs;
      }
    }
  }
}
