%pageLayout{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: -2px -2px 6px rgba($black,.08);
}

.fade-enter-active {
  transition: opacity .1s ease
}
.fade-leave-active{
  transition: opacity .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
.slideUp{
  &-enter-active{
    transition: transform .3s ease
  }
  &-leave-active{
    transition: transform .3s ease
  }
  &-enter, &-leave-to{
    transform: translate(0, 100%)
  }
  &-enter-to, &-leave{
    transform: translate(0, 0%)
  }
}
.slideDown{
  &-enter-active{
    transition: transform .3s ease
  }
  &-leave-active{
    transition: transform .3s ease
  }
  &-enter, &-leave-to{
    transform: translate(0, -100%)
  }
  &-enter-to, &-leave{
    transform: translate(0, 0%)
  }
}
.slideIn {
  &-enter{
    transform: translate3d(100%, 0, 0);
  }
  &-enter-active{
    @extend %pageLayout;
    transition: transform .4s ease;
    z-index: 2;
  }
  &-enter-to{
    transform: translate3d(0, 0, 0);
  }
  &-leave{
    transform: translate3d(0, 0, 0);
  }
  &-leave-active{
    @extend %pageLayout;
    transition: transform .4s ease;
    z-index: 1;
  }
  &-leave-to{
    transform: translate3d(-20%, 0, 0);
  }
}
.slideOut {
  &-enter{
    transform: translate3d(-20%, 0, 0);
  }
  &-enter-active{
    @extend %pageLayout;
    transition: transform .4s ease;
    z-index: 1;
  }
  &-enter-to{
    transform: translate3d(0, 0, 0);
  }
  &-leave{
    transform: translate3d(0, 0, 0);
  }
  &-leave-active{
    @extend %pageLayout;
    transition: transform .4s ease;
    z-index: 2;
  }
  &-leave-to{
    transform: translate3d(100%, 0, 0);
  }
}

.pageSlideUp {
  &-enter{
    transform: translate3d(0, 100%, 0);
  }
  &-enter-active{
    @extend %pageLayout;
    transition: transform .4s ease;
    z-index: 2;
  }
  &-enter-to{
    transform: translate3d(0, 0, 0);
  }
  &-leave{
    transform: translate3d(0, 0, 0);
  }
  &-leave-active{
    @extend %pageLayout;
    transition: transform .4s ease;
    z-index: 2;
  }
  &-leave-to{
    transform: translate3d(0, 100%, 0);
  }
}
.pageSlideDowm {
  &-enter-active{
    transition: transform .4s ease-in-out;
    z-index: 1;
  }
  &-enter-to{
    transform: translate3d(0, 0, 0);
  }
  &-leave{
    transform: translate3d(0, 0, 0);
  }
  &-leave-active{
    @extend %pageLayout;
    transition: transform .4s ease-in-out;
    z-index: 2;
  }
  &-leave-to{
    transform: translate3d(0, 100%, 0);
  }
}