@charset "UTF-8";
@import "../../style/compass";
// SWIPER VARIABLES
// ------------------------------------------->

// SWIPER COMPONENT
// ============================================>
.ui-swiper{
  height: 100%;
  overflow: hidden;
  &__wrapper{
    height: 100%;
  }
  &__item{
    position: relative;
    float: left;
    height: 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    &.active{
      animation-fill-mode: both;
      //opacity: 1;
    }
    &:not(.active){
      animation: none;
      // opacity: 0;
    }
  }
}