// BASE VARIABLES
// ---------------------------
%pageLayout{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
// BASE COMPONENT
// ==========================
.icon{
  vertical-align: middle;
}
.container{
  position: relative;
  height: 100%;
  margin: 0 auto;
  background-color: $bgBody;
  @media (min-width: $screen-md) {
    max-width: $screen-md;
  }
}
.container-fluid {
  margin: 0 auto;
}