//文字省略
//@name text ellipsis
// --------------------------------

@mixin ellipsis($w) {
  width: $w;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin ellipsisLn($line:1) {
  display: -webkit-box;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}