@charset "UTF-8";
@import "../../style/common";
// SEARCHBAR VARIABLES
// ------------------------------------------->
$searchBarGapV: torem(16px);
$searchBarInputHeight: torem(56px);
$searchBarInputRadius: $gap-20;
$searchBarIconSize: $text-14;
$searchBarIconColor: $grayLighter;
// SEARCHBAR COMPONENT
// ============================================>
.ui-search{
    position: relative;
    display: flex;
    padding: $searchBarGapV $gapSides;
    font-size: $text-14;
    background-color: $bgEmbed;
    @extend %borderVertical;
    &.ui-search-active{
        >.ui-search__btn-cancel{
            display: block;
        }
        >.ui-search__label{
            display: none;
        }
    }
    &__form{
        position: relative;
        flex: auto;
        @extend %border;
        &:after{
            border-color: #E6E6EA;
            border-radius: $searchBarInputRadius;
            background-color: $white;
        }
    }
    &__box{
        position: relative;
        display: flex;
        align-items: center;
        z-index: 1;
        >.icon-search{
            padding: 0 $gap-20;
            font-size: $searchBarIconSize;
            color: $searchBarIconColor;
            line-height: $searchBarInputHeight;
        }
        >.ui-search__input{
            width: 100%;
            height: $searchBarInputHeight;
            padding: 4px 0;
            background-color: transparent;
            border: 0;
            &:not(:valid) ~ .ui-search__clear{
                display: none;
            }
        }
        >.ui-search__clear{
            font-size: $searchBarIconSize;
            padding: 0 $gap-20;
            color: $searchBarIconColor;
        }
    }
    &__label{
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $searchBarIconColor;
        background-color: $white;
        border-radius: $searchBarInputRadius / 2;
        z-index: 2;
        >.icon-search{
            margin-right: 5px;
        }
    }
    &__btn-cancel{
        margin-left: 10px;
        font-size: $text-16;
        color: $primary;
        line-height: $searchBarInputHeight;
        white-space: nowrap;
    }
}
//干掉input[search]默认的clear button
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}