@charset "UTF-8";
@import "../../style/common";
// NAVBAR VARIABLES
// ------------------------------------------->
$navbarHeight: torem(98px);
// NAVBAR COMPONENT
// ============================================>
.ui-navbar{
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #F7F7FA;
  @extend %borderTop;
  z-index: $lv2;
  &__item{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    flex: 1;
    height: $navbarHeight;
    color: $grayLight;
    line-height: 1;
    &.active{
      color: $success;
      >.ui-navbar__icon{
        color: $success;
      }
    }
  }
  &__icon{
    font-size: torem(36px);
    color: $gray;
    vertical-align: bottom;
    margin-bottom: -6px;
  }
  &__label{
    width: 100%;
    font-size: $text-12;
    line-height: 1.6;
  }
}