@charset "UTF-8";
@import "../../style/common";
// TAB VARIABLES
// ------------------------------------------->
$tabNavbarHeight:   torem(88px);
// TAB COMPONENT
// ============================================>
.ui-tab{
  position: relative;
  display: flex;
  align-items: center;
  background-color: $white;
  @extend %borderVertical;
  &__navbar{
    flex: 1;
    height: $tabNavbarHeight;
    font-size: $text-14;
    line-height: $tabNavbarHeight;
    text-align: center;
    &-active{
      @extend .ui-tab__navbar;
      color: $primary;
    }
  }
  &__slider{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    border-bottom: 2px solid $primary;
    transition: all .3s cubic-bezier(0.35, 0, 0.25, 1);
  }
  &__content{
    min-height: calc(100vh - #{$tabNavbarHeight});
    &.swiper{
      position: relative;
      >.ui-tab__item{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        overflow: hidden;
        &-active{
          position: relative;
        }
      }
    }
  }
  &__item{
    display: none;
    width: 100%;
    height: 100%;
    &-active{
      display: block;
    }
  }
}