@charset "UTF-8";
@import "../../style/common";
// PAGE VARIABLES
// ------------------------------------------->

// PAGE COMPONENT
// ============================================>
.page{
  display: none;
  background-color: $bgBody;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.page-current{
  display: block;
  min-height: 100%;
}
.page-gap-top {
	padding-top: torem(98px);
}
.page-gap-bottom {
	padding-bottom: torem(98px);
}