@charset "UTF-8";
@import "../../style/compass";
// INFINITE VARIABLES
// ------------------------------------------->

// INFINITE COMPONENT
// ============================================>
.ui-infinite{
  display: flex;
  align-items: center;
  justify-content: center;
  //padding: $gap-30 $gap-40;
  width: 70%;
  margin: 0 auto;
  padding: $gap-20 0;
  background-color: transparent;
  &-complete{
    @extend %borderTop;
    margin-top: torem(44px);
    margin-bottom: torem(20px);
    padding: 0;
    >.ui-infinite__tips{
      top: -8px;
      padding: 0 $gap-30;
      font-size: $text-12;
      color: $grayLight;
      background-color: $bgBody;
      z-index: 2;
    }
  }
  &__tips{
    position: relative;
    padding: 0 $gap-10;
    font-size: $text-14;
  }
}